<ng-container *ngIf="!isFavouriteTab">
  <h1>Jokes</h1>
  <span>Hit on 'Like button' to add in your favourite joke.</span>
</ng-container>
<ng-container *ngIf="isFavouriteTab">
    <div class="favourite-header">
  <div>
    <h1>Favourite Jokes</h1>
    <span>Hit on 'Like button' to remove your favourite joke list.</span>
  </div>
  <div class="flex-spacer"></div>
  <mat-slide-toggle (change)="addRandomJoke($event)">Add Random Favourite Joke</mat-slide-toggle>
</div>
</ng-container>
<div class="joke-list">
<div *ngFor="let joke of jokesList; trackBy: trackByFn" >
  <app-joke-card [joke]=joke (jokeCardSelected)="jokeCardSelected($event)"></app-joke-card>
</div>
</div>
<div *ngIf="!jokesList?.length" class="no-favourite">
  No Favourite Joke!!!
</div>
